<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2> New post in category {{ category }}!</h2>
    <p> Новый пост в категории {{ category }}!Здравствуй, {{ username }}. Новая статья в твоём любимом разделе {{ category }}!</p>
       <p>{{ header }} </p>
        <p>{{ text }} </p>
<p> <a href="http://127.0.0.1:8000/news/{{pk_id}}" class="btn btn-outline-success">Read the post</a> </p>



</body>
</html>