<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}
{% load custom_tags %}
<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
{% if is_not_author %}
<button> <a href="sign/upgrade/"> Хочу Premium!</a> </button>
{% endif %}
{% if request.user.is_authenticated %}
<h2> {{ request.user.user_name }}</h2> {% endif %}
<h1>Все новости</h1>
<h3>Всего новостей: {{ news|length }}</h3>

<!-- {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}-->
<form action="" method="get">
<!--       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}-->
{{ filterset.form.as_p }}
<!--       {# Добавим кнопку отправки данных формы #}-->
<input type="submit" value="Найти" />
</form>
<hr>
   {% if news %}
       <table align="center">
           <tr>
<!--               Вывести все статьи в виде заголовка, даты публикации и первых 20 символов текста.-->
<!--Новости должны выводиться в порядке от более свежей к самой старой-->
               <td><h4>№</h4></td>
               <td><h4>Заголовок</h4></td>
               <td><h4>Дата публикации</h4></td>
               <td><h4>Текст</h4></td>
           </tr>
           {% for post in news %}
           <tr>

               <td>{{ post.id }}</td>
               <td>{{ post.header }}</td>
               <td>{{ post.timeCreation|date:'d M Y'  }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
               <td>{{ post.rating }}
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}