<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->

{% extends 'default.html' %}
{% load i18n %}
{% load custom_tags %}
<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
{% if is_not_author %}
<button> <a href="sign/upgrade/"> Хочу Premium!</a> </button>
{% endif %}
{% if request.user.is_authenticated %}
<h2> {{ request.user.user_name }}</h2> {% endif %}
<h1>{% trans 'Все новости'%}</h1>
<h3>
    {% blocktranslate with news_len=news|length %}
    Всего новостей: {{ news_len }}
    {% endblocktranslate %}</h3>

<!-- {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}-->
<form action="" method="get">
<!--       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}-->
{{ filterset.form.as_p }}
<!--       {# Добавим кнопку отправки данных формы #}-->
<input type="submit" value="Найти" />
</form>
<table align="center">
           <tr><td><a href="/category/1" class="btn">{% trans 'категория спорт'%}</a></td>
               <td><a href="/category/2" class="btn">{% trans 'категория политика'%}</a></td>
               <td><a href="/category/3" class="btn">{% trans 'категория образование'%}</a></td>
               <td><a href="/category/4" class="btn">{% trans 'категория исскуство'%}</a></td>
           </tr>
<hr>
   {% if news %}
        {% for post in news %}
        <table align="center">
          
          
           <tr>
                <td align="center" ><h5><a  href="/{{ post.id }}">{{ post.header }}</a></td>

                <td align="right"><a href="/author/{{ post.PostAutor.id }}">{{ post.PostAutor }}</a></td>
            <hr>  
            </tr>
            <tr>   
                
                <td>{{ post.text|truncatechars:50 }}</td></tr>
            <tr>
                <td>{{ post.rating }}</td>
               
                <td align="right">{{ post.timeCreation|date:'d M Y'  }}</td>
               
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans 'Новостей нет' %}!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}